<%= bootstrap_form_with(model: [:admin, article], local: true) do |form| %>
    <%= form.text_field :title %>
    <%= form.text_field :description %>
    <%= form.file_field :attachment, label: "File" %>

    <div class="form-group tags">
        <div><%= label_tag :tag_names, "Tags" %></div>
        <%= render @article.tags %>
        <%= text_field_tag :tag_names, "", class: "form-control" %>
    </div>

    <%= form.primary %>
<% end %>