<div class="article">
<h1><%= @article.title %></h1>
    <table>
        <tr>
            <td><%= @article.author.email %></td>
        </tr>
        <tr>
            <th> Uploaded on: </th>
            <td><%= @article.created_at %></td>
        </tr>
    </table>

<p><%= simple_format(@article.description) %></p>

<% if @article.attachment.present? %>
    <h4> Attachment </h4>
    <div class="attachment">
        <p>
            <%= link_to @article.attachment.filename, rails_blob_path(@article.attachment, disposition: 'attachment') %>
        </p>
    </div>
<% end %>

<% admins_only do %>
    <ul class="actions">
        <li><%= link_to "Edit Article", edit_admin_article_path(@article),
                class: "edit" %></li>

        <li><%= link_to "Delete Article", admin_article_path(@article),
                method: :delete,
                data: { confirm: "Delete article?" },
                class: "delete" %></li>
    </ul>
<% end %>
</div>